@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #333;
  font-family: "Manrope", sans-serif;
}

html {
  background: #e8e8f3;
}
.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.header-container {
  width: 90%;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.logo {
  width: 50px;
  height: 50px;
}

.menu {
  position: relative;
  top: 0;
  padding: 20px;
  background: #e8e8f3;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0.2),
    inset 7px 7px 15px rgba(55, 84, 170, 0),
    inset -7px -7px 20px rgba(255, 255, 255, 0),
    0px 0px 4px rgba(255, 255, 255, 0);
}

.menu::before,
.menu::after {
  content: "";
  background: #c3c2c7;
  border-radius: 5px;
  width: 30px;
  height: 5px;
  position: absolute;
  left: 6px;
  top: 18px;
  transition: 0.2s ease;
  z-index: 1;
}

.menu::before {
  transform: rotate(0deg);
}
.menu::after {
  transform: rotate(90deg);
}

.hero {
  width: 90%;
  margin: 40px auto;
  background-color: #f3f3f3;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 350px;
  align-items: center;
}

.col-2-left {
  text-align: left;
  padding: 30px;
  flex-basis: 50%;
  flex-grow: 2;
  flex-shrink: 1;
}

.col-2-right {
  flex-basis: 30%;
  text-align: left;
  padding: 30px;
  flex-grow: 1;
  flex-shrink: 1;
}
.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

.hero p {
  margin-bottom: 20px;
}

.hero button {
  padding: 10px 40px;
  border-radius: 40px;
  border: none;
  box-shadow: 0 0 5px #333;
  background-color: #333;
  color: white;
  display: block;
}

.white-box {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 250px;
  background: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.col-2-img {
  width: 250px;
  height: 150px;
  background: #f3f3f3 url(images/coding.webp) no-repeat center center/cover;
  border-radius: 12px;
  margin: auto;
}

@media only screen and (max-width: 799px) {
  .hero {
    flex-direction: column;
  }
  .hero .col-2-left {
    text-align: center;
  }
  button {
    margin: auto;
  }
  .hero-container .col-2 {
    margin: 20px;
    gap: 10px;
  }
}
